<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Cafeteria.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>742C14461CEC49E100B24C67</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>742C145A1CEC49E100B24C67</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>742C14651CEC49E100B24C67</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
